<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="url" value="{CRMURL}/XRMServices/2011/Organization.svc" />

    <add key="method" value="ClientSecret"/>
    <add key="mfaAppId" value=""/>
    <add key="mfaClientSecret" value=""/>

    <add key="out" value="..\..\..\frontend\web-resources\src\typings\xrm\" />
    <add key="solutions" value="" />
    <add key="crmVersion" value="9.1" />
    <add key="skipInactiveForms" value="true" />
    <add key="web" value="" />
    <add key="jsLib" value="..\..\..\frontend\web-resources\scripts\" />
    <add key="useDeprecated" value="true"/>

    <add key="entities" value="account, contact" />
  </appSettings>
</configuration>